*{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e9f7ff;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#tamanhoOriginal{
    display: inline-block;
    border: 2px #f00 dotted;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    #canvas{
        position: relative;        
        border: thin solid gray;
        top: 0;
        left: 0;
    }
}
#controls{
    position: relative;
    width: 100%;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.logo{
    width: 50px;
    height: 50px;
    top: 0px;
}
a{
    text-decoration: none;
}
#valorTransparencia{
    font-weight: bold;
}
button, select{
    padding: 5px;
    font-size: 18px;
    margin-left: 5px;
    background: none;
    border: thin solid #a0dcff;
}
#save{
    display: none;
}
#infoImage{
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: left;
    border: thin solid rgb(159, 202, 255);
    padding: 10px;
    .infos{
        display: inline-block;
        .infoCroped{
            font-size: 13px;
            color: #333333;
            margin-bottom: 5px;
        }
        .valorInfo{
            font-weight: bold;
        }
    }
    #apos{
        display: none;
    }
    .infos:nth-child(2){
        margin-left: 50px;
    }
}